<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <script src="https://kit.fontawesome.com/1e2541cc15.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">| HOME |</a></li>
                <li><a href="/about"> ABOUT |</a></li>
                <li><a href="/music"> MUSIC |</a></li>
                <li><a href="/contact"> CONTACT |</a></li>
            </ul>
        </nav>
            <ul>
                <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook" style="color: #000000;"></i></a></li>
                <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a></li>
                <li><a href="https://www.spotify.com" target="_blank"><i class="fa-brands fa-spotify" style="color: #000000;"></i></a></li>
                <li><a href="https://www.apple.com" target="_blank"><i class="fa-brands fa-apple" style="color: #000000;"></i></a></li>
                <li><a href="https://www.amazon.com" target="_blank"><i class="fa-brands fa-amazon" style="color: #000000;"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
            </ul>
    </header>
    <main>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 id="tituloAbout">ABOUT <br> EMILIA //</h1>
        <h3>"Seattle-based pop star makes her indie debut with a hauntingly beautiful album"</h3>
        <h5>- John Tirckle, Music Today Post</h5>
        <h3>"Emilia Cole is one of the scene's breakout stars"</h3>
        <h5>" - John Tirckle, Music Today Post</h5>
    </main>
</body>
</html>