<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/1e2541cc15.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <br>
                <li><a href="/about">ABOUT</a></li>
                <br>
                <li><a href="/music">MUSIC</a></li>
                <br>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
            <ul id="redes">
                <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook" style="color: #000000;"></i></a></li>
                <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a></li>
                <li><a href="https://www.spotify.com" target="_blank"><i class="fa-brands fa-spotify" style="color: #000000;"></i></a></li>
                <li><a href="https://www.apple.com" target="_blank"><i class="fa-brands fa-apple" style="color: #000000;"></i></a></li>
                <li><a href="https://www.amazon.com" target="_blank"><i class="fa-brands fa-amazon" style="color: #000000;"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
            </ul>
    </header>
    <section>
    <h3>EMEILIA <br> COLE//</h3>
    </section>
    <br>
    <br>
    <br>
    <br>
    <footer>
    <h1>TWIST IN MI REALITY</h1>
    </footer>
</body>
</html>