header{background-color: rgba(255, 255, 255,0.4);
    text-decoration: none;
    text-align: right;}
    header li{
    display: inline;}
    header a{
        text-decoration: none;
        color: black;
    }
h1{
    font-size: 60px;
}
h4{color: rgb(53, 207, 187);
}
h5 a{
    text-decoration: none;
    color: gray;
}